</main>
<br><br><br>
<hr>
<p class="text-center">&COPY; CmsShoppingCart</p>
<script src="/bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>
<!-- <script src="https://cdn.ckeditor.com/4.14.1/standard/ckeditor.js"></script> -->
<script src="/ckeditor_4.14.1_standard/ckeditor/ckeditor.js"></script>
<script src="/bootstrap-4.4.1-dist/js/main.js"></script>

</body>

</html>